body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.lobby-browser-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.lobby-browser-footer {
  display: flex;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 24px;
}

th {
  background-color: rgb(117, 201, 250);
  border-color: black;
  text-align: center;
}

td {
  border-color: black;
  background-color: rgb(205, 235, 253);
}
.navbar {
  background-color: gainsboro;
}

.navbar_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  margin: auto;
}

.logout {
  float: right;
}
