body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

canvas {
  border: black solid 2px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.lobby-browser-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.lobby-browser-footer {
  display: flex;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 24px;
}

th {
  background-color: rgb(117, 201, 250);
  border-color: black;
  text-align: center;
}

td {
  border-color: black;
  background-color: rgb(205, 235, 253);
}
.navbar {
  background-color: gainsboro;
}

.navbar_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  margin: auto;
}

.logout {
  float: right;
}

.lobby-buttons-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20em;
  list-style-type: none;
}

.boxa {
  border: solid 3px black;
  flex: 0 0 100%;
  width: 50%;
  text-align: center;
}
.boxb {
  background: lightgreen;
  order: 2;
}

.boxb,
.boxc {
  flex: 0 0 50%;
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.canvas {
  height: 280px;
  width: 280px;
}

.miniDrawing {
  height: 42px;
  width: 42px;
  border: black solid 2px;
  margin: 2px;
}

.playerInfoBox {
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: small;
  width: 200px;
  justify-content: space-between;
  background-color: rgb(182, 228, 228);
}

.playerInfoBoxCorrect {
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: small;
  width: 200px;
  justify-content: space-between;
  background-color: rgb(87, 236, 124);
}

.playerNameText {
  size: 20;
  margin: 1px;
}

.playerInfoText {
  size: 16;
  margin: .5px;
}

.instanceStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.canvasEtc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.confidence {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  width: 200px;
  height: 280px;
  border: black 2px solid;
}

.oneGuess {
  font-size: 12px;
  margin: .5px;
}