body {
  font-family: sans-serif;
  background-image: url('https://i.imgur.com/VkUYFtu.png');
  background-size: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

canvas {
  border: black solid 2px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.audioToggle {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  /* font-weight: 400; */
  /* line-height: 1.5; */
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin: 10px 0px;
  margin-left: 31px;
  /* font-size: 1rem; */
  border-radius: 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
  background-color: gainsboro;
  opacity: 0.85;
}

.audioToggle:active {
  transform: scale(0.9);
}

form div {
  margin: 1em;
  display: inline-block;
}

.lobby-browser-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.lobby-browser-footer {
  display: flex;
  justify-content: space-around;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 24px;
}

th {
  background-color: rgb(117, 201, 250);
  border-color: black;
  text-align: center;
}

td {
  border-color: black;
  background-color: rgb(205, 235, 253);
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar_wrapper {
  background-color: gainsboro;
  border-radius: 20px;
  background-color: #e5e5f7;
  opacity: 0.9;
  margin: 2rem;
  margin-bottom: 0 !important;
}

.logo {
  display: flex;
  margin: auto;
}

.logout {
  float: right;
}

.lobby-buttons-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20em;
  list-style-type: none;
}

.boxa {
  border: solid 3px black;
  flex: 0 0 100%;
  width: 50%;
  text-align: center;
  background-color: gainsboro;
}
.boxb {
  background: lightgreen;
  order: 2;
}

.boxb,
.boxc {
  flex: 0 0 50%;
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.canvas {
  height: 280px;
  width: 280px;
  background-color: white;
}

.miniDrawing {
  height: 42px;
  width: 42px;
  border: black solid 2px;
  margin: 2px;
}

.playerInfoBoxGuessing {
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: small;
  width: 200px;
  justify-content: space-between;
  background-color: rgb(182, 228, 228);
}

.playerInfoBoxCorrect {
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  font-size: small;
  width: 200px;
  justify-content: space-between;
  background-color: rgb(87, 236, 124);
}

.playerNameText {
  size: 20;
  margin: 1px;
}

.playerInfoText {
  size: 16;
  margin: 0.5px;
}

.instanceStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: gainsboro;
}

.canvasEtc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.confidence {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  width: 200px;
  height: 280px;
  border: black 2px solid;
  background-color: gainsboro;
}

.oneGuess {
  font-size: 12px;
  margin: 0.5px;
}

.centerWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}

.smallWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input40 {
  width: 70px;
}

.homeButtons {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
  background-color: gainsboro;
}

.hov:hover,
.audioToggle {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.join {
  display: flex !important;
  margin-top: 75px;
  margin-bottom: 75px;
}

.smallMargin {
  margin-top: 50px;
}

.miniPic {
  width: 42px;
  height: 42px;
  margin: 1.5px;
}

.margin {
  width: 2rem;
}

.horPadding {
  padding-right: 1.4rem;
  padding-left: 1.4rem;
}

#left {
  text-align: left;
}

#input {
  display: inline-block;
  float: right;
}

#equal {
  width: 171.8px;
}

#footer {
  padding: 0px;
}

.footer {
  position: absolute;
  justify-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footerText {
  color: white;
}
